.root {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border: none;
  padding: 16px;
  border-radius: 16px;
  background: #fff;
  background: var(--card-bg-yellow);
  color: #fff;
  .title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 16px;
    text-align: center;
  }
}